@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-BlackItalic";
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-BoldItalic";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Italic";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-LightItalic";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-ThinItalic";
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Thin";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.btn {
  display: block;
  border: 0;
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #83af9875;
  color: #383737;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover {
  background-color: #446e59;
  color: rgba(255, 255, 255, 0.726);
}

.btn--long {
  text-align: center;
  width: 40%;
  padding: 10px 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica Neue, sans-serif;
  color: #525050;
  background-color: #fcf8f8;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 30px 5px rgba(46, 46, 46, 0.1);
          box-shadow: 5px 5px 30px 5px rgba(46, 46, 46, 0.1);
  background-color: #fff;
}

.top__logo {
  padding: 0 30px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.7;
  text-transform: uppercase;
  background-color: #cdb9c4;
  color: #eeeded;
}

.top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 17px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: transparent;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.menu__item:hover {
  background-color: #cdb9c4;
  color: #fff;
}

.menu__item-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__basket {
  margin-left: 30px;
  width: 100%;
  max-width: 22px;
  max-height: 18px;
}

.top__basket:hover {
  max-width: 25px;
  max-height: 20px;
}

.header__center {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center__left {
  width: 50%;
}

.center__title {
  font-size: 37px;
  font-weight: 700;
  line-height: 1.2;
}

.center__title > span {
  font-weight: 700;
  color: #8e6382;
}

.center__text {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 1.6;
}

.center__right {
  width: 40%;
}

.center__right-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 450px;
  border-radius: 70px;
}

.burger {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}

.burger__line {
  display: block;
  width: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.62);
}

.burger__line:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.62);
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
}

.burger__line:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.62);
  position: absolute;
  top: 4px;
  right: 0;
  left: 0;
}

.product__inner {
  padding: 100px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.212);
  border-bottom: 2px solid rgba(0, 0, 0, 0.212);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 31.3%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.226);
}

.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
}

.card__body {
  padding: 0 20px;
}

.card__title {
  margin-top: 30px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 700;
  color: #2b2a2a;
}

.card__text {
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.5;
}

.card__footer {
  padding: 0 20px;
  margin-top: 20px;
}

.card__footer_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.card__price {
  font-family: 'Slabo 27px', serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
  display: block;
  color: #4d4c4c;
}

.feedback {
  background-color: rgba(39, 39, 39, 0.884);
  padding: 20px 0;
}

.feedback__text {
  text-align: center;
  font-size: 15px;
  color: #a5a5a5;
  margin-bottom: 15px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  padding: 7px 30px 7px 10px;
  font-family: inherit;
  margin-right: 20px;
}

footer {
  background-color: rgba(27, 27, 27, 0.884);
  padding: 12px 0;
}

.footer__inner {
  text-align: center;
  color: #a5a5a5;
}

.cart__modal-trigger {
  position: fixed;
  bottom: 80px;
  left: 30px;
  max-width: 40px;
  max-height: 40px;
  opacity: .5;
}

@media (max-width: 1100px) {
  .card {
    margin: 0 auto;
    width: 45%;
  }

  .card__price {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .center__right {
    width: 45%;
  }

  .center__left {
    width: 45%;
  }

  .center__title {
    font-size: 35px;
  }

  .center__text {
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .btn--long {
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }

  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #cdb9c4;
    border-radius: 0;
  }

  .top__menu {
    display: none;
  }

  .top__logo {
    line-height: 1.1;
    padding: 10px 20px;
    font-size: 25px;
  }

  .header__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 70px 0;
  }

  .center__left {
    margin: 0 auto;
    width: 100%;
  }

  .center__title {
    margin-top: 20px;
    text-align: center;
    font-size: 33px;
  }

  .center__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .center__right {
    width: 100%;
  }

  .center__right-img {
    border-radius: 10px;
  }

  .burger {
    display: block;
  }

  .feedback__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__input {
    width: 50%;
    margin: 0 auto;
  }

  .feedback__form > button {
    margin-top: 15px;
    width: 51%;
    padding: 10px 0;
  }
}

@media (max-width: 680px) {
  .card__footer_btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card__footer_btns:last-child {
    margin-bottom: 10px;
  }

  .card__price {
    margin-top: 20px;
    text-align: right;
    width: 100%;
  }
}

@media (max-width: 515px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 467px) {
  .btn--long {
    width: 100%;
    padding: 10px 0;
  }

  .center__title {
    font-size: 28px;
  }

  .center__text {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .center__right-img {
    max-height: 300px;
  }

  .header__center {
    padding: 70px 0 30px 0;
  }
}